<div class="container-header-artpieces">
  <div class="header-center">
    <h2> Explore the Most Beautiful Artworks Available to Rent.</h2>
    <p> FindArt has an extensive selection of artworks. From the most popular artist to rare pieces you could only find here. Browse our collection and select what appeals you the most! </p>
     <!-- Seart artpieces by title and artist -->

    <%= form_tag art_pieces_path, method: :get, class:"search-form" do %>
      <div class="input-group-text"> <i class="fa-solid fa-magnifying-glass"></i> </div>
      <%= text_field_tag :query,
        params[:query],
        value: params[:query],
        class: "form-control",
        placeholder: "What are you looking for?"
      %>
      <div class="input-group-text"> <i class="fa-solid fa-caret-down"></i> </div>
      <%= select_tag("style", options_for_select(ArtPiece::STYLES),
                     :prompt=>"Choose an art movement...",
                     class: "form-control select")
      %>
      <%= submit_tag "Find artworks", class: "submit btn btn-primary" %>
    <% end %>

    <% if alert %>
      <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <%= alert %>
      </div>
     <% end %>

  </div>

<div class="container-index">

  <div class="wrapper-index-cards">
    <%= render "shared/cards" %>
  </div>

  <div class= "wrapper-mapbox";
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
<% raise %>
