
<div class="container-show-artpiece">

  <div class="container-show-img">

  </div>

  <div class="container-show-description">
    <h2> <%= @artpiece.title %> </h2>
    <p> <%= @artpiece.artist %> </p>
    <p> <%= @artpiece.description %> </p>
    <p> <%= @artpiece.category %> </p>
    <p> <%= @artpiece.price_rate %> </p>
  </div>
</div>
