<!-- styling needs to be added, just basic skeleton for now -->
<h1>Please take a look at all the art we have to offer!<h1>
<% @artpieces.each do |artpiece| %>
<h4><%= @artpieces.artist%></h4>
<h4><%= @artpieces.description%></h4>
<h4><%= @artpieces.creation_date%></h4>
<h4><%= @artpieces.category%></h4>
<h4><%= @artpieces.style%></h4>
<h4><%= @artpieces.price_rate%></h4>
<% end %>
