<div class = "container">

<h1> Create a new art work </h1>
</div>

<h5><%= simple_form_for @artworks do |f| %>

        <%= f.input :title %>
        <%= f.input :artist%>
        <%= f.input :description%>
        <%= f.input :category%>
        <%= f.input :style%>
        <%= f.input :price_rate%>


        <%= f.submit class: 'btn btn-primary' %></h5>
<% end %>
