  <div class="grid-cards">
    <% @artpieces.each do |artpiece| %>
      <div class="card">
        <%= link_to image_tag("https://is4-ssl.mzstatic.com/image/thumb/Music116/v4/60/bf/1b/60bf1bf2-265f-84dc-2d31-1d2ce52e9e5f/source/600x600bb.jpg", alt: "#{artpiece.title} by #{artpiece.artist}", class: "card-img"), art_piece_path(artpiece) %>
        <div class="card-text">
          <div class="card-header-row">
            <h3><%= link_to artpiece.title, art_piece_path(artpiece), class: "card-title" %></h3>
            <h4 class="card-price"><%= "$#{artpiece.price_rate}/day" %></h4>
          </div>
          <p class="card-artist"><%= "By #{artpiece.artist}" %></p>
          <div class="card-categories">
            <p><%= artpiece.category %></p>
            <p><%= artpiece.style %></p>
          </div>
          <div class="card-user-row">
            <%= image_tag "https://i.scdn.co/image/ab6761610000e5ebcdce7620dc940db079bf4952" , alt: "#{artpiece.user.first_name} #{artpiece.user.last_name}" , class: "avatar" %>
            <p><%= "#{artpiece.user.first_name} #{artpiece.user.last_name}" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
