  <div class="grid-cards">
    <% @artpieces.each do |artpiece| %>
      <div class="card">

        <% if artpiece.cloud_image.present? %>
          <%= link_to cl_image_tag(artpiece.cloud_image.key, crop: :fill, alt: "#{artpiece.title} by #{artpiece.artist}", class: "card-img"), art_piece_path(artpiece) %>
        <% else %>
          <%= link_to image_tag("https://source.unsplash.com/random/?painting", alt: "#{artpiece.title} by #{artpiece.artist}", class: "card-img"), art_piece_path(artpiece) %>
        <% end %>
        <div class="card-text">
          <div class="card-header-row">
            <h3><%= link_to artpiece.title, art_piece_path(artpiece), class: "card-title" %></h3>
            <h4 class="card-price"><%= "$#{artpiece.price_rate}/day" %></h4>
          </div>
          <p class="card-artist"><%= "By #{artpiece.artist}" %></p>
          <div class="card-categories">
            <p><%= artpiece.category %></p>
            <p><%= artpiece.style %></p>
          </div>
          <div class="card-user-row">
            <%= image_tag artpiece.user.image_url , alt: "#{artpiece.user.first_name} #{artpiece.user.last_name}" , class: "avatar" %>
            <p><%= "#{artpiece.user.first_name} #{artpiece.user.last_name}" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
