<div class="navbar navbar-expand-lg navbar-light bg-light align-items-center">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <div class="d-flex justify-content-start">
        <%= image_tag "logo.png", alt: "FindArt logo", class: "navbar-logo me-4" %>
        <%= link_to "FindArt", root_path, class: "navbar-brand navbar-bold" %>
        <%= link_to "Explore", art_pieces_path, class: "navbar-brand" %>
        <%= link_to "My Bookings", offers_path, class: "navbar-brand" %>
        <%= link_to "My Owned Artworks",   my_artpieces_art_pieces_path, class: "navbar-brand" %>
      </div>

        <%# <a class="navbar-brand" href="#">My owned artworks</a> %>
      </div>
      <div class="d-flex align-items-center">
      <i class="fa-solid fa-circle-plus icon-navbar me-4" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
          <%# <input class="form-control me-2" type="search" placeholder="Search artworks..." aria-label="Search">
          <button class="btn btn-primary rounded-3" type="submit">Search</button> %>
      </div>
        <!-- Add simple form helper for search bar here -->
        <div class="dropdown">
          <a href="#" class="navbar-end-avatar" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag "https://pbs.twimg.com/profile_images/1521957986335297536/itVSA7l0_400x400.jpg" , alt: "Avatar image" ,
              class: "avatar" %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">My Profile</a></li>
            <li><a class="dropdown-item" href="#">Log Out</a></li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="d-flex justify-content-start">
        <%= image_tag "logo.png", alt: "FindArt logo", class: "navbar-logo me-4" %>
        <%= link_to "FindArt", root_path, class: "navbar-brand navbar-bold" %>
      </div>
      <div class="d-flex">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search artworks..." aria-label="Search">
          <button class="btn btn-primary rounded-3" type="submit">Search</button>
        </form>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </div>
    <% end %>
  </div>
</div>


<%# MODAL TO CREATE NEW ARTPIECE %>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Put Your Own Artworks for Rent </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for(ArtPiece.new) do |f| %>
            <%= f.input :title %>
            <%= f.input :artist %>
            <%= f.input :cloud_image, as: :file %>
            <%= f.input :description %>
            <%= f.input :creation_date %>
            <%= f.input :category, as: :select, collection: ArtPiece::CATEGORIES %>
            <%= f.input :style, as: :select, collection: ArtPiece::STYLES %>
            <%= f.input :address %>
            <%= f.input :price_rate %>
            <%= f.submit 'Create Art Piece', class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
