<div class="container-mybookings">

  <h2> Welcome back, <%= current_user.first_name %>! </h2>

  <% if @offers.count >= 1 %>
    <p><i class="fa-solid fa-paintbrush"></i> You've done <%= pluralize(current_user.offers.count, 'booking request') %> </p>
  <% else %>
      <p id="bookings-number"> You have no booking requests at the moment. Keep exploring! </p>
  <% end %>

  <% @offers.each do |offer| %>
    <% case offer.offer_confirmed %>
      <% when 'accepted' %>
        <% confirmed_text = '<p class="booking-accepted"><i class="fas fa-check"></i> Accepted</p>' %>
      <% when 'rejected' %>
        <% confirmed_text = '<p class="booking-rejected"><i class="fas fa-times"></i> Rejected</p>' %>
      <% when 'pending' %>
        <% confirmed_text = '<p class="booking-pending"><i class="fas fa-clock"></i> Pending</p>' %>
    <% end %>

    <% if offer.user == current_user %>
      <%= link_to art_piece_path(offer.art_piece), class: "text-decoration-none text-dark" do %>
        <div class="container-card-bookings">
          <div class="container-card-top">
            <% if offer.art_piece.cloud_image.present? %>
              <%= cl_image_tag offer.art_piece.cloud_image.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <%= image_tag "dummy-painting.jpg" %>
            <% end %>
            <div class="wrapper-booking-info">
              <p> <span> <%= offer.art_piece.title %> </span> by <%= offer.art_piece.artist %></p>
              <p> <i class="fa-regular fa-user"></i> Owned by <%= offer.art_piece.user.first_name %> </p>
              <p> <i class="fa-regular fa-calendar"></i> Requested from <%= offer.start_date%> to <%= offer.end_date %> </p>
              <div class="wrapper-booking-last-row">
                <p> Total: $<%= offer.art_piece.price_rate %> </p>
                <p> Offer status: <%= confirmed_text.html_safe %> </p>
              </div>
            </div>
          </div>
      <% end %>
        </div>
    <% end %>
  <% end %>
</div>
