<div class="container-mybookings">

  <h2> Welcome back, <%= current_user.first_name %>! </h2>

  <% if @offers.count >= 1 %>
    <p><i class="fa-solid fa-paintbrush"></i> You've done <strong> <%= current_user.offers.count %> </strong> booking requests </p>
  <% else %>
      <p id="bookings-number"> You have no booking requests at the moment. Keep exploring! </p>
  <% end %>

    <% @offers.each do |offer| %>
      <% if offer.user == current_user %>
          <div class="container-card-bookings">
              <%= image_tag "dummy-painting.jpg"%>
            <div class="wrapper-booking-info">
              <p> <span> <%= offer.art_piece.title %> </span> by <%= offer.art_piece.artist %></p>
              <p> <i class="fa-regular fa-user"></i> Owned by <%= offer.art_piece.user.first_name %> </p>
              <p> <i class="fa-regular fa-calendar"></i> Requested from <%= offer.start_date%> to <%= offer.end_date %> </p>
              <p>  Total: $<%= offer.art_piece.price_rate %> </p>
            </div>
          </div>
      <% end %>
    <% end %>

</div>
