<!DOCTYPE html>
<html>
  <head>
    <title>Findart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'shared/navbar' %>
    <div class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="d-flex justify-content-start">
          <a class="navbar-brand" href="#"><b>FindArt</b></a>
          <a class="navbar-brand" href="#">My offers</a>
          <a class="navbar-brand" href="#">My artworks</a>
        </div>
        <div class="d-flex">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search artworks..." aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
        <!-- Add simple form helper for search bar here -->
          <a href="#" class="navbar-end-avatar">
            <%= image_tag "https://i.scdn.co/image/ab6761610000e5ebcdce7620dc940db079bf4952", alt: "Avatar image", class: "avatar" %>
          </a>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
